# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
beach-booking-frontend/.gitignore
beach-booking-frontend/eslint.config.js
beach-booking-frontend/index.html
beach-booking-frontend/package-lock.json
beach-booking-frontend/package.json
beach-booking-frontend/README.md
beach-booking-frontend/vite.config.js
beach-booking-frontend/public/vite.svg
beach-booking-frontend/src/App.css
beach-booking-frontend/src/App.jsx
beach-booking-frontend/src/index.css
beach-booking-frontend/src/main.jsx
beach-booking-frontend/src/assets/react.svg
src/App.jsx
